
/*Body*/

body {
  background-color: #fffeea;
  background-size: cover;
  color: #34495e;
}

/*Navbar*/
img[src="img/logo.jpg"] {
  width: 3rem;
  height: 3rem;
}
.navbar-dark {
  opacity: 0.5;
}

.nav-link {
  font-size: 1.25em;  
  font-family: Concert One, Helvetica, Arial, sans-serif;
}
 
.navbar-brand {
 text-transform: uppercase;
}

/*CONTACT & FAQ Header*/

.container-content {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.container-content h1 {
  font-family: Concert One, Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 10px;
}

.container-content h2 {
  font-family: Concert One, Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 20px;
}


/*INDEX*/

/*Index Carousel*/
.container-carousel {
  top: 64px
}

.d-block {
  margin: 0 auto; 
  width: auto; 
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color:black;
  height: 50px;
}

.container-carousel {
  position:relative;
}

.carcaption {
  position: absolute;
  margin: 0 auto;
  bottom: 5rem;
  left: 0;
  right: 0; 
  height: auto;
  max-height: 22%; 
  width: auto;
  background: linear-gradient(to right, #3b3b3b, #a0a0a0);
  opacity: 0.5; 
  font-family: Concert One, Helvetica, Arial, sans-serif;
  text-align: center;
}

.carcaption h5 {
  font-size: 2em;
  color: white;
}

@media (max-width: 768px) {
  .carcaption h5 {font-size: 1.5em;}
}

@media (max-width: 576px) {
  .carcaption h5 {font-size: 1em;}
}

.carcaption p {
  font-size: 1.5em;
  color: white;
}

@media (max-width: 768px) {
  .carcaption p {font-size: 1em;}
}

@media (max-width: 576px) {
  .carcaption p {font-size: 0.75em;}
}

.col-sm h2 {
  text-align: center;
}

.col-sm {
  text-align: justify;
  padding-top: 2em;
}

.carousel-indicators {
bottom: 2.5rem;
}

/*works*/

.modal-footer > p {
  text-align: center;
  width: 100%;
}

/*image hover effects*/

/*img increase size*/

@media (max-width: 361px) {

.container #work1 .img-fluid:hover {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.info:hover {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
}

/*img turn from grey to color*/
#work1 .img-fluid {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#work1 .img-fluid:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
} 

/*img opacity*/
#work2 .img-fluid {
  -webkit-filter: opacity;
  filter: opacity(0.75);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#work2 .img-fluid:hover {
  -webkit-filter: opacity;
  filter: opacity(1);
}

.info {
  position: absolute;
  top: 15%;
  left: 22%;
  color: #fff;
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 1.6;  
  display: none;
}

.proj-title {
  font-weight:100;
}

/*ABOUT*/
* { box-sizing: border-box; }

#works {
 background: linear-gradient(to right, rgba(173, 216, 230, 0.5), rgba(230, 230, 250, 0.5)); 
}

#about {
  background-image: url(../img/about1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.85  
}

#about figcaption {
  font-family: Concert One, Helvetica, Arial, sans-serif;
  font-size: 4em;
  color:white;
  font-weight: bolder;
  text-align: center;
  background-color: black;
  opacity: 0.75;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .about-image figcaption {font-size: 3em;}
}

@media (max-width: 576px) {
  .about-image figcaption {font-size: 2.5em;}
}

.main-text {
  padding-top: 1em;
  padding-bottom: 3em;
  width:auto;
  max-width: 100%;
  margin: 0 auto;  
  text-align: justify;
  background-color: black;
  opacity: 0.75;
}

.main-text h3 {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.main-text p {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  font-size: 1.25em;
  color: white;  
  width: :auto;
  max-width: 80%;
  text-align: justify;
  margin: 0 auto;
}

.main-text span {
  font-family: Orbitron,Comic Sans MS;
  font-weight: bolder;
}

.embed-responsive-item {
  width: auto;
  max-width: 560px; 
  max-height: 315px; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  margin: auto; 
}

.skill {
  background-color:black;
  opacity: 0.75;
}

.skill h3 {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  color: white;
}

#batch img {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

/*CONTACT*/

#contact {
 background: linear-gradient(to right, rgba(173, 216, 230, 0.5), rgba(230, 230, 250, 0.5));
 position: relative;
}

.contactbox {
  width:auto;
  max-width: 500px; 
}

.email:hover {
  text-decoration: none;   
}

.info_box {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  font-size: 1em;
  color: black;  
}

.col-md-7 {
  padding-bottom: 20px;
}

@media (max-width: 361px) {
  #map1 { height: 250px;}} 



label {
  font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
  font-weight: bolder;
  color: black;
}

.form-control {
  font-size: 0.9em;
}

.form-group-email label {
  padding-top: 10px;
}

.form-group-message-box{
  padding-top: 30px;
  padding-bottom: 10px;
}

#message-box {
  width: 100%;
  height: 23em;
}

@media (max-width: 361px) {
   #message-box {height: 250px;}}

#submit-button {
 font-family: Concert One,ZCOOL QingKe HuangYou,Poppins,Arial, sans-serif;
} 

@media (max-width: 576px) {
  form .form-group {
  width: auto;
  max-width: 100%;
}}

@media (max-width: 576px) {
 form .contactbox {
  padding-left: 0;
}}


